.openning{
    background-image: url(background.png);
    background-size: cover;
    text-align: center;
    height: 100vh;
    align-content: center;
    color: whitesmoke;
    padding: 0;
    font-size: larger;
    font-size: 40px;
}
.about{
    background-color: black;
    background-size: cover;
    height: 90vh;
    color: azure;
    padding: 0;
    text-align: center;
    font-size: 28px;
    margin-top: 10vh;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s;
}
.about.active {
    transform: translateX(0);
    opacity: 1;
}
body{
    margin: 0;
    padding: 0;
    line-height: 0;
    height: 0;
    background-color: black;
}
.button{
    border: whitesmoke 3px solid;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline;
    margin-top: 5vh;    
    font-size: 28px;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: white;
    color: #103e57;
  }
.image img {
    width: 400px;
    border-radius: 5px;
    padding-left: 20%;
    padding-top: 19%;
}
.aboutcontent {
    max-width: 1000px;
    text-align: left;
    padding-top: 5%;
    padding-left: 12%;
}
.aboutflex{
    display: flex;
}
.gdp{
    background-color: white;
    background-size: cover;
    height: 93vh;
    color: #103e57;
    padding-top: 5vh;
    text-align: center;
    font-size: 28px;
    margin-top: 10%;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s;
}
.gdp.active{
    transform: translateX(0);
    opacity: 1;
}
.gdph{
    background-color: white;
    color: #103e57;
    font-size: 34px;
    height: 15vh;
    align-content: center;
}
.buttongdp{
    border: #103e57 3px solid;
    color: #103e57;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 15vh;
    transition: background-color 0.3s ease;
}
.buttongdp:hover{
    background-color: #103e57;
    color: aliceblue;
}
.inkspace{
    background-color: black;
    height: 80vh;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 28px;
    margin-top: 7%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s;
}
.inkspace.active{
    transform: translateX(0);
    opacity: 1;
}
.buttoninkspace{
    border: white 3px solid;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 15vh;
    transition: background-color .3s ease;
}
.buttoninkspace:hover{
    background-color: white;
    color: black;
}
.inkspace p{
    color: gray;
}
.gdpflex{
    display: flex;
}
.graphicflex{
    display: flex;
}
.graphicflex img{
    width: 400px;
    border-radius: 5px;
    padding-left: 20%;
    padding-top: 19%;
    margin: 10px;
}
.graphic{
    background-color: white;
    background-size: cover;
    color: gray;
    text-align: center;
    height: 85vh;
    margin-top: 7%;
    font-size: 28px;
    transform: translateY(50%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s;
}
.graphic.active{
    transform: translateY(0);
    opacity: 1;
}
.works{
    background-color: black;
    background-size: cover;
    height: 45vh;
    color: white;
    text-align: center;
    font-size: 32px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s;
}
.works.active{
    transform: translateX(0);
    opacity: 1;
}
footer{
    background-color: #d4742c;
    padding: 20px;
    text-align: center;
    height: 15vh;
    font-size: 22px;
    align-content: center;
}
footer a{
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 22px;
}
.follow{
    margin-right: 60%;
}
.contact{
    margin-left: 60%;
}
.rights{
    margin-top: 6%;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
.menubutton {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    border: rgb(243, 191, 81) 2px solid;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1001;
    border-radius: 5px;
    transition: background-color .3s ease;
}
.menubutton:hover{
    background-color: rgb(243, 191, 81);
    color: #103e57;
}
/* Slide-InMenu */
.menu {
    position: fixed;
    top: 0;
    left: -250px; /* Hidden by default */
    width: 250px;
    height: 100%;
    background: #333;
    color: white;
    padding-top: 60px;
    transition: left 0.4s ease-in-out; /* Smooth transition */
    z-index: 1000;
}
/* Show menu*/
.menu.active {
    left: 0;
}
.closebutton {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    color: rgb(243, 191, 81);
    font-size: 24px;
    cursor: pointer;
}
.menu ul {
    list-style: none;
    padding: 0;
}
.menu ul li {
    padding: 15px;
    text-align: left;
}
.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.menu ul li a:hover {
    background: yellow;
    color: black;
}
html{
    scroll-behavior: smooth;
}
