@media all and (max-width: 480px){
    .openning{
        flex-direction: column;
        gap: 30vh;
        font-size: 22px;
    }
    header{
        height: 100dvh;
    }
    .flex{
        flex-direction: column;
    }
    .about{
        font-size: 22px;
        height: auto;
    }
    .aboutcontent{
        margin-right: 8px;
    }
    .image img{
        width: 250px;
        margin: 0 0;
    }
    .image img:hover{
        width: 280px;
    }
    .works{
        font-size: 22px;
        height: auto;
    }
    .gdp{
        font-size: 22px;
    }
    .inkspace{
        font-size: 22px;
        height: auto;
        padding-bottom: 5vh;
    }
    .graphicflex{
        flex-direction: column;
    }
    .graphic{
        height: auto;
        overflow: wrap;
        word-wrap: break-word;
        white-space: wrap;
        font-size: 22px;
        padding-bottom: 5%;
    }
    .graphicflex img{
        width: 250px;
        margin: 0 0;
    }
    .graphicflex img:hover{
        width: 280px;
    }
    footer{
        font-size: 14px;
    }
    footer a{
        font-size: 11px;
    }
}
